body{
  margin: 0;
  background: #000;
}
h1{
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  color: #ffffff00;
  text-align: center;
  font-size: 18px;
}
canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.bottomleft { 
  background-color: #FFF;
  position: fixed;
  bottom: 15px;
  left: 15px;
  opacity: .5;

}

.topleft { 
  position: fixed;
  top: 15px;
  left: 15px;
  opacity: .2;
  color: #ffffff;
}

img {
  margin: 5px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.center {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  transform: translateY(-50%);
}

.textcenter {
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0%;
  opacity: .5;
}

.circular {
  position: relative;
  background: #77000000;
  padding: 5px;
  border-radius: 50%;
  opacity: .4;
  width: 300px;
  height: 300px;
  
}

a:link {
  display: inline;
  opacity: .5;
}

a:link:hover {
  opacity: 1.0;
}

a, a:hover, a:active, a:visited { color: white; }